@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bgprimary: #9f3647;
}

@keyframes logo {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
body {
  height: 100vh;
  background: linear-gradient(to right top, #24242473, #24242473),
    url(../assets/img/bg-register.jpg);
  background-size: cover;
  background-position: center;
}

h1,
h2 {
  font-family: "Nunito Sans", sans-serif;
}

a {
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: #181419;
  color: white;
}

/* estilos scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(23, 23, 23);
}

::-webkit-scrollbar-thumb {
  background: var(--bgprimary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bgprimary);
}

main {
  .sectionContainer {
    background-color: rgb(42, 42, 42);

  }
}

/* estilos header */

header {
  background-color: var(--bgprimary);
  color: white;
  position: sticky;
  height: 10vh;
  top: 0;
  z-index: 10;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    padding: 20px 0px;

    .logo {
      text-decoration: none;
      color: white;
      font-weight: 700;
      font-size: 1.2rem;
      &:hover {
        animation-name: logo;
        animation-duration: 0.25s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
    }
    .linkNav.nav-link {
      color: white !important; /* Color deseado */
      transition: color 0.3s, font-size 0.3s; /* Transici칩n suave de color y tama침o de fuente */
      font-size: 18px; /* Tama침o de fuente inicial */
    }
    
    .linkNav.nav-link:hover {
      color: #ff4500; /* Nuevo color al hacer hover */
      font-size: 20px; /* Nuevo tama침o de fuente al hacer hover */
    }


  }
}




/* estilos footer */

footer {
  background-color: var(--bgprimary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;

}